const nodeModulesPattern = '**/node_modules/';
const gitPattern = '**/.git';
const readmePattern = '**/README.md';
const licensePattern = '**/LICENSE';
const vscodePattern = '**/.vscode';
const npmDebugLogPattern = '**/npm-debug.log';
const coveragePattern = '**/coverage';
const envPattern = '**/.env';
const editorConfigPattern = '**/.editorconfig';
const distPattern = '**/dist';
const pemPattern = '**/*.pem';
const dockerfilePattern = 'Dockerfile';
